<!DOCTYPE html>
<html>
<head>
  <title>Standard Naming</title>

  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link type="text/css" rel="stylesheet" href="/src/css/main.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="//unpkg.com/tether@latest/dist/js/tether.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>

  <div id="headerView" class="row align-items-center">
    <banner banner-class="col-5" image-source="./src/imgs/logo@2x.png"></banner>
    <navigation navigation-class="row align-items-center offset-3 col-4"></navigation>
  </div>

  <div id="processingTable">
    <textarea ref="tempField" v-on:blur="splitData" hidden></textarea>
    <table class="table">
      <thead>
        <tr>
          <th width="5%"></th>
          <th class="center-align" width="20%">Logical</th>
          <th class="center-align"width="20%">Physical</th>
          <th class="center-align"width="25%">Business</th>
          <th class="center-align" width="17.5%">Standard Define</th>
          <th class="center-align" width="17.5%">Length</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(msg,index) in messages">
          <grid-row
            v-model="msg.logical"
            v-bind:physical="msg.physical"
            v-bind:business="msg.business"
            v-bind:standard-define="msg.standardDefine"
            v-bind:length="msg.length"
            v-on:update-data="waitForStopTyping(index)"
            v-on:add-new-row="addNewRow(index)"
            v-on:delete-row="deleteRow(index)"
          ></grid-row>
        </template>
      </tbody>
    </table>
  </div>

  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script>

    Vue.component('banner', {
      template: '\
        <div v-bind:class="bannerClass">\
          <img class="col-12" v-bind:src="imageSource">\
        </div>\
      ',
      props: {
        imageSource: {
          type: String,
          default: './src/imgs/logo@2x.png'
        },
        bannerClass: {
          type: String,
          default: 'col-5'
        }
      },
    })

    Vue.component('navigation', {
      template: '\
        <div v-bind:class="navigationClass" class="navigation">\
          <div class="offset-1 col-5">\
            <a class="show-all" href="#">Show All</a>\
          </div>\
          <div class="col-6">\
            <a class="manage-data" href="#">Manage Data</a>\
          </div>\
        </div>\
      ',
      props: {
        navigationClass: {
          type: String,
          default: 'offset-3 col-4'
        }
      },
    })

    new Vue({
      el: '#headerView',
    })


    Vue.component('combind-physical', {
        template: '\
          <span v-if="define && index === 0">\
            {{physical}}\
          </span>\
          <span v-else-if="define">\
            _{{ physical }}\
          </span>\
          <span v-else-if="index === 0" class="physical-false">\
            {{ physical }}\
          </span>\
          <span v-else class="physical-false">\
            _{{ physical }}\
          </span>\
        ',
        props: {
          physical: {
            type: String
          },
          define: {
            type: Boolean
          },
          index: {
            type: Number
          }
        },
        updated: function() {
          console.log(this.physical)
          console.log(this.define)
        }
    })

    Vue.component('grid-row', {
      template: '\
        <tr>\
          <td class="center-align">\
            <a href="#" v-on:click="deleteRow()"><img src="/src/imgs/remove.png" width="15" height="15"></a>\
          </td>\
          <td>\
            <input\
              ref="logical"\
              v-bind:value="value"\
              v-on:input="updateValue($event.target.value)"\
              v-on:keyup.enter="addNewRow($event.target.value)"\
              v-on:paste="sendToTextarea()"\
            >\
          </td>\
          <td>\
            <template v-for="(obj, index) in physical">\
              <combind-physical\
                v-bind:physical="obj.value"\
                v-bind:define="obj.define"\
                v-bind:index="index"\
              ></combind-physical>\
            </template>\
          </td>\
          <td>\
            {{ business }}\
          </td>\
          <td ref="std_def" class="center-align">\
            {{ standardDefine }}\
          </td>\
          <td ref="length" class="center-align">\
            {{ length }}\
          </td>\
        </tr>\
      ',
      props: {
        business: {
          type: String,
          default: ''
        },
        length: {
          type: Number,
          default: 0
        },
        physical: {
          type: Array,
          default: ''
        },
        standardDefine: {
          type: String,
          default: 'NO'
        },
        value: {
          type: String,
          default: ''
        }
      },
      mounted: function () {
        this.setFocus()
        this.changeFontInRowColor()
      },
      updated: function () {
        this.setFocus()
        this.changeFontInRowColor()
      },
      methods: {
        addNewRow: function (value) {
          if(value !== '') {
            this.$emit('add-new-row')
          }
        },
        changeFontInRowColor: function() {
          if(this.$refs.std_def.textContent.trim() === 'YES') {
            this.$refs.std_def.style.color="GREEN"
          } else {
            this.$refs.std_def.style.color="RED"
          }

          if(this.$refs.length.textContent.trim() > 30) {
            this.$refs.length.style.color="RED"
          } else {
            this.$refs.length.style.color="#959A95"
          }
        },
        deleteRow: function () {
          this.$emit('delete-row')
        },
        focusOnInput: function() {
          this.$refs.logical.focus()
        },
        setFocus: function () {
          this.$refs.logical.focus()
        },
        sendToTextarea: function(e) {
          this.$parent.$refs.tempField.removeAttribute('hidden')
          this.$parent.$refs.tempField.focus()

          setTimeout(this.focusOnInput, 10);
        },
        updateValue: function (value) {
          this.$emit('input', value)
          this.$emit('update-data')
        }
      }
    })

    new Vue({
      el: '#processingTable',
      data: {
        messages : [{
          logical: '',
          physical: [{value:'Waiting for your input...', define: true}],
          business: '',
          standardDefine: '',
          length: 0
        }]
      },
      methods: {
        addNewRow: function (index) {
          this.messages.splice(index+1,0,{
            logical: '',
            physical: [{value:'Waiting for your input...', define: true}],
            business: '',
            standardDefine: '',
            length: 0
          })
        },
        deleteRow: function (index) {
          if( this.messages.length > 1 ) {
            this.messages.splice(index,1)
          }
        },
        getUpdateDataFromIndex: _.debounce(function(index) {
          if(this.messages[index].logical) {
            axios.get(`http://localhost:3000/match/${this.messages[index].logical}`)
            .then(function (res) {
              if(res.data.success) {
                this.messages[index].physical = res.data.msg.physical
                this.messages[index].business = res.data.msg.business
                this.messages[index].standardDefine = res.data.msg.standardDefine
                this.messages[index].length = res.data.msg.physicalLength
              } else {
              }
            }.bind(this))
            .catch(function (err) {
              console.log(err);
            });
          } else {
            this.messages[index].physical = [{value:'Waiting for your input...', define: true}]
            this.messages[index].business = ''
            this.messages[index].standardDefine = ''
            this.messages[index].length = 0
          }
        }, 1000),
        pushData: function(value) {
          axios.get(`http://localhost:3000/match/${value}`)
          .then(function (res) {
            if(res.data.success) {
              this.messages.push({
                logical: value,
                physical: res.data.msg.physical,
                business: res.data.msg.business,
                standardDefine: res.data.msg.standardDefine,
                length: res.data.msg.physicalLength
              })
            } else {

            }
          }.bind(this))
          .catch(function (err) {
            console.log(err);
          });
        },
        splitData: function() {
          if(this.messages[this.messages.length-1].logical === ''){
            this.messages.pop()
          }

          this.$refs.tempField.value.split(/\r?\n/g).forEach(this.pushData)

          this.$refs.tempField.value = ''
          this.$refs.tempField.setAttribute("hidden","hidden");
        },
        waitForStopTyping: function(index) {
          this.messages[index].physical = [{value:'Waiting for you stop typing...', define: true}]
          this.messages[index].business = ''
          this.messages[index].standardDefine = ''
          this.messages[index].length = 0

          this.getUpdateDataFromIndex(index)
        }
      }
    })

  </script>
</body>
</html>
