a:hover {
  text-decoration: none;
}

input {
    width: 100%; /* force to expand to container's width */
}

table th {
  color: #959A95;
  font-size: 40;
  font-weight: bold;
}

table td {
  color: #959A95;
  font-size: 20;
  font-weight: 400;
}

.center-align {
  text-align: center;
}

.hidden-copy-button {
  background-color: transparent;
  border-style: none;
}

.navigation a {
  text-align: center;
  margin: auto;
  padding: 15px 35px;
}

.navigation .nav-gray {
  color: #757575;
  background-color: #F4F4F4;
}

.navigation .nav-green {
  color: #FFFFFF;
  background-color: #00A94E;
}

.navigation .nav-blue {
  color: #FFFFFF;
  background-color: #4486F7;
  border-radius: 3px;
}

.physical-false {
  color: red;
}

.text-area-hidden {
  background: transparent;
  color: white;
  resize: none;
  border: 0 none;
  width: 100%;
  font-size: 5em;
  outline: none;
  height: 100%;
  position: absolute;
}

#headerView img {
  margin: 20px;
}
